:host {
  ion-content {
    --background: url('../../../assets/images/mainBG.jpg') no-repeat 35% 30%;
    --keyboard-offset: 0 !important;
    z-index: 1;
    .content-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      padding-top: 12vw;
      width: 100%;
      height: 100%;
      position: relative;
      z-index: 1;
      .logo {
        width: 38vw;
        margin-bottom: 11.5vw;
      }
      form {
        width: 80vw;
        margin-bottom: 7vw;
        ion-list {
          background-color: transparent;
          margin-bottom: 0;
          ion-item {
            background-color: #fff;
            opacity: .85;
            border-radius: 3px;
            position: relative;
            display: flex;
            align-items: center;
            margin-bottom: 1.9vw;
            --padding-start: 2vw;
            &:last-of-type {
              height: 12.6vw;
              color: #fff;
              background: transparent;
              --padding-start: 0;
              --border-color: transparent;
            }
            ion-input {
              width: 80vw;
              height: 11vw;
              font-size: 2.8vw;
              margin-left: 6vw;
              --placeholder-color: #000;
              --placeholder-opacity: 1;
              &:last-of-type {
                margin-bottom: 0;
              }
              input {
                &::placeholder {
                  color: #000;
                  font-size: 12.8vw;
                  font-weight: 100;
                }
              }
            }
            ion-checkbox {
              width: auto;
              height: auto;
              margin: 0 2vw 0 0;
              --size: 3.85vw;
              --border-radius: 3px;
              --border-style: solid;
              --border-width: 0.5px;
              --border-color: #000;
            }
            i {
              position: absolute;
              left: 0;
              font-size: 3.8vw;
            }
            .fa-eye {
              left: 70.5vw;
            }
          }
        }
        .sign-up-btn {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 80vw;
          height: 9.4vw;
          border-radius: 3px;
          background-color: rgb(151, 190, 95);
          margin-bottom: 2.5vw;
          &:active {
            opacity: .6;
          }
          &:disabled {
            opacity: .6;
          }
          span {
            text-transform: uppercase;
            color: #fff;
            font-size: 3.7vw;
          }
        }
      }
      p, span {
        color: #fff;
        font-size: 3.4vw;
        font-weight: 500;
      }
      p {
        span {
          text-decoration: underline;
          font-weight: bold;
        }
      }
      .skip-btn {
        text-decoration: underline;
        font-weight: bold;
        position: absolute;
        bottom: 4.5vw;
        right: 6vw;
      }
    }
  }
}
