<ion-content>
    <div class="content-wrapper">
        <img src="../../../assets/icons/logo.png" alt="" class="logo">

        <form [formGroup]="signUpForm" (ngSubmit)="onSignUpFormSubmit()">
            <ion-list>
                <ion-item>
                    <i class="far fa-user"></i>
                    <ion-input #name type="text" placeholder="Enter your name" name="name" (keyup)="removeSpaces(name)"
                               (focusin)="isInputFocused = true" (focusout)="isInputFocused = false"
                               formControlName="name" required></ion-input>
                </ion-item>
                <ion-item>
                    <i class="fas fa-at"></i>
                    <ion-input #email type="text" placeholder="Enter your email" (keyup)="removeSpaces(email)"
                               (focusin)="isInputFocused = true" (focusout)="isInputFocused = false"
                               formControlName="email" required></ion-input>
                </ion-item>
                <ion-item>
                    <i class="fas fa-key"></i>
                    <ion-input #password [type]="isPasswordVisible ? 'text' : 'password'"
                               placeholder="Enter your password" (keyup)="removeSpaces(password)"
                               (focusin)="isInputFocused = true" (focusout)="isInputFocused = false"
                               formControlName="password" required></ion-input>
                    <i class="far fa-eye" (click)="isPasswordVisible = !isPasswordVisible"></i>
                </ion-item>
                <ion-item>
                    <i class="fas fa-key"></i>
                    <ion-input #confirmPassword [type]="isConfirmPasswordVisible ? 'text' : 'password'"
                               placeholder="Retype your password" (keyup)="removeSpaces(confirmPassword)"
                               (focusin)="isInputFocused = true" (focusout)="isInputFocused = false"
                               formControlName="confirmPassword" required></ion-input>
                    <i class="far fa-eye" (click)="isConfirmPasswordVisible = !isConfirmPasswordVisible"></i>
                </ion-item>
                <ion-item>
                    <ion-checkbox #agreement type="checkbox" required></ion-checkbox>
                    <p>I agree to Malaeb's <span>terms and conditions</span></p>
                </ion-item>
            </ion-list>
            <ion-button type="submit" fill="clear" class="sign-up-btn" [disabled]="!signUpForm.valid || !agreement.checked">
                <span>Sign up</span>
            </ion-button>
        </form>

        <p *ngIf="!isInputFocused">Already a member? <span>Login here</span></p>
        <span *ngIf="!isInputFocused" class="skip-btn">Skip</span>
    </div>
</ion-content>
