<ion-content>
    <div class="content-wrapper">
        <img src="../../../assets/icons/logo.png" alt="" class="logo">

        <div class="social-media-wrapper">
            <ion-button expand="full" fill="clear" class="facebook-btn">
                <i class="fab fa-facebook-f"></i>
                <span>Continue with Facebook</span>
            </ion-button>
            <ion-button expand="full" fill="clear" class="twitter-btn">
                <i class="fab fa-twitter"></i>
                <span>Continue with Twitter</span>
            </ion-button>
            <ion-button expand="full" fill="clear" class="google-btn">
                <i class="fab fa-google-plus-g"></i>
                <span>Continue with Google</span>
            </ion-button>
        </div>

        <div class="btn-divider">
            <div class="border-divider"></div>
            <span>or</span>
            <div class="border-divider"></div>
        </div>

        <ion-button fill="clear" class="sign-up-btn" href="/signup" routerDirection="forward">
            <span>Signup</span>
        </ion-button>
        <p>Already a member yet? <span>Login here</span></p>
        <span class="skip-btn">Skip</span>
    </div>
</ion-content>
