:host {
  ion-content {
    .content-wrapper {
      background: url('../../../assets/images/mainBG.jpg') no-repeat 35% 30%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      padding-top: 12vw;
      width: 100%;
      height: 100%;
      position: relative;
      z-index: 1;
      overflow: hidden;
      .logo {
        width: 38vw;
        margin-bottom: 17vw;
      }
      .social-media-wrapper {
        display: flex;
        flex-direction: column;
        ion-button {
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 80vw;
          height: 11.2vw;
          border-radius: 3px;
          margin-bottom: 1.8vw;
          i {
            position: absolute;
            left: 5vw;
            color: #fff;
            font-size: 5vw;
          }
          span {
            color: #fff;
            font-size: 3.7vw;
            font-weight: 100;
          }
        }
        .facebook-btn {
          background-color: rgb(63, 82, 142);
        }
        .twitter-btn {
          background-color: rgb(86, 166, 218);
        }
        .google-btn {
          background-color: rgb(221, 75, 57);
          margin-bottom: 0;
        }
      }
      .btn-divider {
        width: 72vw;
        height: 16.4vw;
        display: flex;
        align-items: center;
        justify-content: space-between;
        span {
          text-transform: uppercase;
          color: #fff;
        }
        .border-divider {
          width: 30vw;
          height: 0.25vw;
          background-color: rgb(146, 149, 154);
        }
      }
      .sign-up-btn {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 80vw;
        height: 9.4vw;
        border-radius: 3px;
        background-color: rgb(151, 190, 95);
        margin-bottom: 2.5vw;
        &:active {
          opacity: .6;
        }
        span {
          text-transform: uppercase;
          color: #fff;
          font-size: 3.7vw;
        }
      }
      p, span {
        color: #fff;
        font-size: 3.5vw;
      }
      p {
        span {
          text-decoration: underline;
          font-weight: bold;
        }
      }
      .skip-btn {
        text-decoration: underline;
        font-weight: bold;
        position: absolute;
        bottom: 4.5vw;
        right: 6.5vw;
      }
    }
  }
}
